* {
  margin: 0;

}

body {
  background: url("../img/batbg6.jpg") no-repeat; 
  background-size: cover;
  background-attachment: fixed;

  }

p {
  font-family: 'Merienda One', cursive;
  color: white;
  margin: 5px;
  text-align: justify;
}

a {
  color: #f7f7f7;
  transition: all ease-in-out 200ms;
}
a:hover {
  color: #002660;
  text-decoration: none;
}

/* 
*
navbar 
*
*/

.logo {
  max-height: 250%;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  transform: translate(-16%,-27%);
} 

ul > li > a {
  font-family: 'Permanent Marker', cursive;
  }

.navbar-inverse .navbar-nav> li > a:hover {
color: #002660;
}



 /*
   *
  Header
   *
   */

h1, h2 {
  color: #f7f7f7;
  font-family: 'Permanent Marker', cursive;
  box-shadow: -webkit-box-shadow: 11px 11px 146px 24px rgba(56,23,23,0.78);
  -moz-box-shadow: 11px 11px 146px 24px rgba(56,23,23,0.78);
  box-shadow: 11px 11px 146px 24px rgba(56,23,23,0.78);
}

h1, h3 {
 font-family: 'Permanent Marker', cursive;
 color: white;
 text-align: center;
}

h2 > a {
  text-decoration: none;
  color: white;
}

h1:hover, h2:hover {
 color: #002660;
}



/*
*
content
*
*/ 

.row > .col-sm-4 > img {
  width: 220px;
  margin-left: 5px;
}

.col-sm-4 > p, .col-sm-8 > p {
  margin: 10px 5px 5px;
  text-align: justify;

}

.carousel-inner {
  height: 700px;
}

/*
*
Article content
*
*/

.thumbnail {
  background-color: transparent;
  padding: 0;
  -webkit-box-shadow: 0px 0px 13px 1px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 13px 1px rgba(255,255,255,1);
  box-shadow: 0px 0px 13px 1px rgba(255,255,255,1);
}

.caption {
  height: 
}

.articleimg {
 
    height: 350px;
    width: 100%;
    border-radius: 4px;
}

.btn-danger {
    color: #fff;
    background-color: transparent;
    border-color: #d43f3a;
    border: 2px solid #d43f3a;
}

.thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: 350px;
}


/*Gallery*/

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
body{
    font-family: 'Quicksand', sans-serif;
}
.gal-container{
  padding: 12px;
}
.gal-item{
  overflow: hidden;
  padding: 3px;
}
.gal-item .box{
  height: 350px;
  overflow: hidden;
}
.box img{
  height: 100%;
  width: 100%;
  object-fit:cover;
  -o-object-fit:cover;
}
.gal-item a:focus{
  outline: none;
}
.gal-item a:after{
  content:"\e003";
  font-family: 'Glyphicons Halflings';
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  right: 3px;
  left: 3px;
  top: 3px;
  bottom: 3px;
  text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
  opacity: 1;
}
.modal-open .gal-container .modal{
  background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
  padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
  outline: none;
}
.modal-open .gal-item button.close span{
  position: relative;
  top: -3px;
  font-weight: lighter;
  text-shadow:none;
}
.gal-container .modal-dialogue{
  width: 80%;
}
.gal-container .description{
  position: relative;
  height: 40px;
  top: -40px;
  padding: 10px 25px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  text-align: left;
}
.gal-container .description h4{
  margin: 0px;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
@media (min-width: 768px) {
.gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
}
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}
/* Footer Style */
i.red{
    color:#BC0213;
}
.gal-container{
    padding-top :75px;
    padding-bottom:75px;
}
footer{
    font-family: 'Quicksand', sans-serif;
}
footer a,footer a:hover{
    color: #88C425;
}


/*Gallery ends here*/

.clear:after {
  content: "";
  display: block;
  clear: both;
}


@media only screen and (max-width: 768px){

  

  .thumbnail>img {
    display: block !important;
    max-width: 100% !important;
    height: auto !important;
  }

  .articleimg {
    width: auto !important;
  }
   .carousel-inner {
  margin-top: 30px;
  height: auto;
  }
  .row > .col-sm-4 > img {
    margin-left: 2.5em;
  }

}

/*social media footer*/

.col-lg-6 > p {
  margin-top: 3em;
}


.facebook-hover {
    background-image: url('https://lut.im/9LlTfOBMjB/ccPwdiudyoF3x1wE.png');
}

.pinterest-hover {
    background-image: url('https://lut.im/fU1GnJ1cOw/d0iRmklZgk2l6o5W.png');
}

.twitter-hover {
    background-image: url('https://lut.im/SRoUJUn7V4/cORSlFIVBlR7M8Zv.png');
}

.instagram-hover {
    background-image: url('https://lut.im/0LARg4VaCM/bWRJ8RbjK0r14RdO.png');
}

.tumblr-hover {
    background-image: url('https://lut.im/wJDqfDmhLL/YZoci8VwKz37qwv4.png');
}

.social-slide {
  height: 48px;
  width: 48px;
  margin: 10px;
  float: left;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.social-slide:hover {
  background-position: 0px -48px;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}