* {
	margin: 0;

}

body {
	background: url("../img/batlogo.jpg") no-repeat;	
	background-size: cover;
	background-attachment: fixed;

	}

p {
	font-family: 'Merienda One', cursive;
	color: white;
	margin: 5px;
}





/* 
*
navbar 
*
*/

.logo {
	max-height: 250%;
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	transform: translate(-16%,-27%);
}	



/*
*
responsive slides
*
*/



.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  margin-bottom: 10px;
  }


  /*
   *
  Header
   *
   */

h1, h2, h3 {
 font-family: 'Permanent Marker', cursive;
 color: white;
 text-align: center;
}


/*
*
content
*
*/ 


.row > .col-sm-4 > img {
  width: 220px;
  margin-left: 5px;
}

.col-sm-4 > p, .col-sm-8 > p {
	margin: 10px 5px 5px;
	text-align: center;

}

.media-left > a > img {
  height: 	250px;
  width: 200px;
  margin: 10px 10px;
  padding: 10px;
}



@media only screen and (min-width: 961px) {



.rslides img {
 max-height: 50em; 
 position: relative;
 width: 50%;
 margin: 0 auto;



} /*Desktop closing*/


	

