* {
	margin: 0;

}

body {
	background: url("../img/batbg6.jpg") no-repeat;	
	background-size: cover;
	background-attachment: fixed;

	}

p {
	font-family: 'Merienda One', cursive;
	color: white;
	margin: 5px;
  	text-align: justify;
}

a {
  color: #f7f7f7;
  transition: all ease-in-out 200ms;

}

a:hover {
  color: #002660;
  text-decoration: none;
  
}


h1, h2 {
  color: #f7f7f7;
  font-family: 'Permanent Marker', cursive;
  box-shadow: -webkit-box-shadow: 11px 11px 146px 24px rgba(56,23,23,0.78);
  -moz-box-shadow: 11px 11px 146px 24px rgba(56,23,23,0.78);
  box-shadow: 11px 11px 146px 24px rgba(56,23,23,0.78);
}

h1:hover, h2:hover, h4:hover {
 	color: #002660;
}

h4 {
	font-family: 'Permanent Marker', cursive;
}


/*Navbar*/


.logo {
	max-height: 250%;
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	transform: translate(-16%,-27%);
}	

ul > li > a {
  font-family: 'Permanent Marker', cursive;
  }

.navbar-inverse .navbar-nav> li > a:hover {
color: #002660;
}


/*contact us img*/

.col-sm-12 > img {
	width: 400px;
	margin-left: 27em;
	max-width: 100%;
	-webkit-box-shadow: 0px 0px 13px 1px rgba(255,255,255,1);
 	-moz-box-shadow: 0px 0px 13px 1px rgba(255,255,255,1);
  	box-shadow: 0px 0px 13px 1px rgba(255,255,255,1);
}

/*contact us img*/

.col-md-7 {
	margin-top: 2.5em;
}




/*contact us*/

/*Font-awesome integration*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*Google font integration*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

#contact{
    background-color:#f1f1f1;
    font-family: 'Roboto', sans-serif;
}

#contact .well{
    margin-top:30px;
    border-radius:0;
}

#contact .form-control{
    border-radius: 0;
    border:2px solid #1e1e1e;
}

#contact button{
    border-radius:0;
    border:2px solid #1e1e1e;
}

#contact .row{
    margin-bottom:30px;
}

@media (max-width: 768px) { 
    #contact iframe {
        margin-bottom: 15px;
    }
    
}







/*
footer
*/

footer {
	margin-top: 5em;
}


@media only screen and (max-width: 768px){
	.carousel-inner {
		margin-top: 30px;
	}

	.col-sm-12 > img {
		margin-left: auto;
	}

}

/*social media footer*/

.col-lg-6 > p {
	margin-top: 3em;
}


.facebook-hover {
    background-image: url('https://lut.im/9LlTfOBMjB/ccPwdiudyoF3x1wE.png');
}

.pinterest-hover {
    background-image: url('https://lut.im/fU1GnJ1cOw/d0iRmklZgk2l6o5W.png');
}

.twitter-hover {
    background-image: url('https://lut.im/SRoUJUn7V4/cORSlFIVBlR7M8Zv.png');
}

.instagram-hover {
    background-image: url('https://lut.im/0LARg4VaCM/bWRJ8RbjK0r14RdO.png');
}

.tumblr-hover {
    background-image: url('https://lut.im/wJDqfDmhLL/YZoci8VwKz37qwv4.png');
}

.social-slide {
	height: 48px;
	width: 48px;
	margin: 10px;
	float: left;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.social-slide:hover {
	background-position: 0px -48px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}





a{
	color:#26a5d3;
}
a:hover,a:focus{
	text-decoration:none;
	color:#26a5d3;
}

#contact{
	background:#333333;
	color:#f4f4f4;
	padding-bottom:80px;
}

textarea.form-control{
    height:100px;
}