/*css reset*/

* {margin: 0;
	padding:0;
	box-sizing: border-box;/* centering the page when adjusting* to avoid overflowing elements/*/
	/*box-sizing: content-box; default valute of box-sizing wherein there is an overflow of width and height*/
}


/*padding= space between contents
 marging= between elements	
*/
.wrapper{
	border: 1px grey;
	width: 48%;
	margin: 20px auto;	
	padding: 10px;
	
}


div.wrapper > div,
div.wrapper > div > div{
	border: 2px solid blue;
	background-color: skyblue;
	padding: 20px;
	text-align: center;
	border-radius: 5px;
	margin-top: 25px;
	width: 50%;
}


h1, 
p {
	background-color: #dde0e3;
}
/* from inline type to block type elements

em, 
strong { 
	background-color: #b2d6ff;
	display: inline;
}


h1 {
 /*padding: 10px 20px 30px 40px; clock-wise top right bottom left*/
  
  /*padding-top: 10px; for specific part of box model*/ 
  /*padding-right: 20px;*/
  /*padding-bottom: 30px;*/
  /*padding-left: 40px;*/
	padding:50px;
	border: 1px #5d0603;
	/*border-top: : 1px #5d0603; for specific part of borders
	border-right: : 1px #5d0603;
	border-bottom: : 1px #5d0603;
	border-left: : 1px #5d0603;*/
	/*margin: 10px;*/


}

strong {
	/*padding: 50px;*/
	margin: 50px;
}

p {padding: 14px;							
	/*margin-bottom: 50px;*/ /*to pervent margin collpase stick to margin-top OR margin-bottom NEVER USE BOTH*/
	margin-top: 25px;

}

span {
	font-size: 2em; /*em for 1 em x default size of font is 16 px, 1 em= 16px */ 
	color: red;
}

