h1 {
	background-color: grey;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1; /*default z-index= 0*/
}


p {
	background-color: #efefef;
	height: 1000px; /*for creating a scroll bar*/
	position: relative;
	top: 70px;
	left: 70px;
	z-index: 0; /*default z-index= 0*/ /*/if there was a floating effect use this element */

}

/*Css z-index property*/

div {
	width: 100px;
	height: 100px;
	border: 1px solid #000000;
	position: absolute; /*means browser dependent*/
}

.blue {
	background-color: blue;
	top: 20px;
	left: 20px;
	z-index: 555;
}

.yellow {
	background-color: yellow;
	top: 40px;
	left: 40px;
	z-index: 111;
}

.orange {
	background-color: orange;
	top: 60px;
	left: 60px;
	z-index: 999;
}