.colorfg {
	color: white; 
}

.colorbg {
	background-color: black;
}

.name {
	background-color: mediumaquamarine;
}

.rgb {
	/*rgb - is a built-in function, needs three arguments (value from 0-255)*/
	background-color: rgb(102, 205, 170); /*rgb = red, green, blue*/
}

.rgba {
	/*rgba = red, green, blue, alpha*/
	/*alpha = 0.0 - 1.0*/
	/*alpha = sets opacity*/
	background-color: rgba(255, 0, 0, 0.5);
	color: black;
}

.hex {
	/*hexadecimal = 0-9, A-F*/
	background-color: #66cdaa;
}

/*hue, saturation, lightness*/
.hsl {
	/*hue = 0-360 degress*/
	/*saturation = 0% - 100%*/
	/*lightness = 0% - black, 50% - normal, 100% - white*/
	color: hsl(0, 0%, 100%); /*we use this to determine accurate color pallette*/
}

/*hue, saturation, lightness, alpha(opacity/transparency)*/
.hsla {
	background-color: hsla(30, 50%, 78%, 0.5);
}

.opacity {
	background-color: red;
	opacity: 0.5; /*0.0 - 1.0*/
}

/*text*/

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic; /*normal, oblique, italic*/
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 2px; /*for readability*/
}

.lowercase {
	text-transform: lowercase;
}

.capitalize {
	text-transform: capitalize;
}

.underline {
	text-decoration: underline;
}

.linethrough {
	text-decoration: line-through;
}

.none {
	/*commonly used to modify anchor tags*/
	text-decoration: none; 
}

.lineheight {
	line-height: 2; /* for readability */
}

.letterspacing {
	letter-spacing: 1px; /*for readability*/
}

.wordspacing {
	word-spacing: 16px;
}

.alignleft {
	text-align: left;
}

.alignright {
	text-align: right;
}

.aligncenter {
	text-align: center;
}

.alignjustify {
	text-align: justify;
}

.indent {
	text-indent: 20px;
}

.textshadow {
	text-shadow: 10px 10px 20px #000;
}

/*font*/

.localfont {
	/*machine-defaulted fonts*/
	/*windows, linux, macosx*/
	/*fallback fonts*/
	font-family: 'Arial';
}

/*import thru truetype fonts*/
@font-face {
	font-family: 'NemoyLight';
	src: url('../fonts/nemoy/NemoyLight.g2n');
}

/*using truetype fonts*/
.downloadedfont {
	font-family: 'NemoyLight';
}

.serif {
	font-family: serif;
}

.sansserif {
	font-family: sans-serif;
}

.monosspace {
	font-family: monospace;
}

.cursive {
	font-family: cursive;
}

.fantasy {
	font-family: fantasy;
}

.pixels {
	font-size: 20px;
}

/*responsive web design*/
.percent {
	font-size: 150%;
}

.ems {
	font-size: 2em;
}